@model IEnumerable<MVC1.Models.libro>




@{
    ViewBag.Title = "Index";
}

<h2>View de Bibliotea</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>  Isbn </th>
        <th>  Titulo </th>
        <th>  Titulo Libro </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Isbn
    
    </td>

    <td>
        @item.Titulo
       
    </td>
    <td>
        @item.TipoLibro
       
    </td>

    <td>
        
        @Html.ActionLink("Edit", "Edit", new {  id=item.Isbn  }) |
        @Html.ActionLink("Details", "Details", new { id=item.Isbn }) |
        @Html.ActionLink("Delete", "Delete", new {  id=item.Isbn })
    </td>

</tr>
    }

</table>
