
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>

    <meta name"viewport" content="width=device-width"/>
    <title>
        Index
    </title>

    </head>
<body>

    <h2> Ejercicios Varios</h2>

    <div>
        @Html.ActionLink("Calcular Edad", "CalcularEdad")
        <br />
        @Html.ActionLink("Calculadora", "CalculaNumeros")
        <br />
        @Html.ActionLink("Conversiones", "Conversion")
        <br />
        @Html.ActionLink("Descuento en Compras", "Descuento")
        <br />
        @Html.ActionLink("Estadisticas de Asignatura", "Estadistica")
        <br />
    </div>

</body>


</html>



